body {
    background-image: url('/public/images/background/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url('/public/images/background/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Add other styles for your container as needed */
}
.profile{
    background-color: beige;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: lightslategrey;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.register-container{
    max-width: 400px;
    margin: 50px auto;
    background-color: lightslategrey;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#error {
    text-align: center;
    margin-bottom: 10px;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#usernameHelp {
    margin-top: -15px;
    display: block;
    font-size: 12px;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.error-box {
    color: green;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}
